[###env###]
###app1_host###
###app2_host###
###db_host###

[appserver1]
###app1_host###

[appserver2]
###app2_host###

[dbserver]
###db_host###

[###env###:vars]
db_ip=###db_ip###
app1_ip=###app1_ip###
app2_ip=###app2_ip###
